
/*mitko party*/
/*************/

.mitko-wrapper {
  position: fixed;
  width: 28vh;
  height: 38vh;
}

.mitko {
    width: 12vh; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    transition: width 0.5s, height 0.5s;
    position: absolute;
}

.mitko-oblacik {
    width: 23vh; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    position: absolute;
}

.mitko-oblacik-wrapper {
    position: absolute;
    width: 20vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.mitko-oblacik-wrapper p {
    position: absolute;
    top: 5vh;
    font-size: 1.5vh;
    font-family: 'Lobster';
}

.mitko:hover + .mitko-oblacik-wrapper {
  visibility: visible;
}

.mitko:hover {
  width: 14vh;
}

/*domka party*/
/*************/

.domka-wrapper {
  position: fixed;
  width: 29vh;
  height: 38vh;
}

.domka {
    width: 14vh; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    transition: width 0.5s, height 0.5s;
    position: absolute;
}

.domka-oblacik {
    width: 23vh; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    position: absolute;
    transform: scaleX(-1);
}

.domka-oblacik-wrapper {
    position: absolute;
    width: 20vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.domka-oblacik-wrapper p {
    position: absolute;
    left: 5.5vh;
    top: 5vh;
    font-size: 1.5vh;
    font-family: 'Lobster';
}

.domka:hover + .domka-oblacik-wrapper {
  visibility: visible;
}

.domka:hover {
  width: 16vh;
}


/*to corners adjustment*/
/***********************/
.bottom-left-md {
  bottom: 0;
  left: 0;
  /* transform: scaleX(-1) scaleY(-1); */
}

.bottom-right-md {
  bottom: 0;
  right: 0;
  /* transform: scaleY(-1); */
}

.top-left-md {
  top: 0;
  left: 0;
  /* transform: scaleY(-1); */
}

.top-right-md {
  top: 0;
  right: 0;
  /* transform: scaleY(-1); */
}